<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta name="twitter:creator" content="@russss" />
  <meta name="twitter:site" content="@russss" />
  <meta name="twitter:card" content="summary" />
  <meta name="og:title" content="{{ self.title() }}" />
  <meta name="og:description" content="{% block description %}{% endblock %}"/>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
  {% block head %}{% endblock %}
  <link href="main.css" rel="stylesheet">
</head>
<body>
  <header>
    <h1>UK COVID-19 Tracker</h1>
    <ul>
      <li><a href="index.html">Stats</a></li>
      <li><a href="testing.html">Testing</a></li>
      <li><a href="app.html">App</a></li>
      <li><a href="map.html">Hotspot Map</a></li>
    </ul>
  </header>
  <noscript>I'm afraid you will need Javascript enabled to view the graphs.</noscript>
  {% block body %}{% endblock %}
  <div id="footer">
    <p>Made by <a href="https://russ.garrett.co.uk">Russ Garrett</a> (<a href="https://twitter.com/russss">@russss</a>), code <a href="https://github.com/russss/covidtracker">on Github</a>. Page updated on {{generated}}.</p>
  </div>
  {% if graphs|length > 2 %}
  <script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.2.1.min.js"></script>
  <script src="https://cdn.bokeh.org/bokeh/release/bokeh-api-2.2.1.min.js"></script>
  <script>
    const graphs = {{graphs|safe}};
    window.onload = (ev) => {
      for (graph of graphs) {
        Bokeh.embed.embed_item(graph);
      }
    };
  </script>
  {% endif %}
</body>
</html>
