{% extends "_base.html" %}
{% from '_util.html' import sources_table %}
{% block title %}Virus Genomics - UK COVID Tracker{% endblock %}

{% block body %}
  <div id="body" class="graphs-body">
    {% include "_width_warning.html" %}
    <p>This page shows some data on the genomic trends of the COVID-19 virus in the UK. Note that all graphs are plotted
    based on the date the virus sample was taken, and it takes some time for samples to be sequenced. Consequently, <strong>data for the last month or so will be based on fewer samples and may not be representative</strong>.
    </p>
    <div id="genomes_by_nation" class="graph"></div>
    <p>This plot shows the prevalence of various mutations which have been suspected to have an effect on the virus's behaviour:</p>
    <div id="mutation_prevalence" class="graph"></div>
    <h2>Lineages</h2>
    <p>This chart shows the prevalence of significant virus lineages (using the
    <a href="https://cov-lineages.org/">cov-lineages.org</a> nomenclature). Sequences not assigned a lineage by COG-UK are not included.
        Lineages which do not comprise at least 10% of genomes over any 7-day period are recursively merged with their parent lineage.
    </p>
    <div id="lineage_prevalence" class="graph"></div>
    <div id="vui20201201_region" class="graph"></div>
    <p class="footnote">This graph identifies the prevalence of the variant by nation or by NHS England region
        of the sequencing centre. English samples sequenced outside England are ignored.</p>
    <h2>Sources</h2>
    {{sources_table(sources)}}
  </div>
{% endblock %}
