{% extends "_base.html" %}
{% block title %}COVID-19 Tracker{% endblock %}

{% macro score_cell(value) %}
  <td class="score score_
      {%- if value < -50 %}fall_large
      {%- elif value < -10 %}fall_small
      {%- elif value > 50 %}rise_large
      {%- elif value > 10 %}rise_small
      {%- else %}neutral{% endif %}">
    {{value|round|int}}%</td>
{%- endmacro %}
{% block body %}
  <div id="body">
    <h1>UK COVID-19 Tracker</h1>
    <p>This is a collection of what I consider to be the most useful COVID-19 data for the UK. It is updated
        from the latest source data every 30 minutes.</p>
    <p>The majority of the data here is for England at the moment. The other nations of the UK compile their
        data separately and some of it is not directly comparable.</p>
    <h2>Regional Trends</h2>
    <p>While governments are keen on using the reproduction (R) number to measure the state of
      outbreaks, it's ultimately just a measure of whether a certain metric is growing or shrinking.
      This table shows the growth rate of these metrics directly.</p>
    <table>
      <thead>
        <tr>
          <th>English Region</th>
          <th title="{{scores['dates']['triage_online'].date()}}">Triage (online)</th>
          <th title="{{scores['dates']['triage_pathways'].date()}}">Triage (phone)</th>
          <th title="{{scores['dates']['cases'].date()}}">Cases</th>
          {#          <th title="{{scores['dates']['patients'].date()}}">Hospital Patients</th>#}
          <th title="{{scores['dates']['deaths'].date()}}">Deaths</th>
        </tr>
      </thead>
      <tbody>
      {% for region, s in scores['scores'].items() %}
        <tr>
          <td>{{region}}</td>
          {{score_cell(s['triage_online'])}}
          {{score_cell(s['triage_pathways'])}}
          {{score_cell(s['cases'])}}
          {#          {{score_cell(s['patients'])}}#}
          {{score_cell(s['deaths'])}}
        </tr>
      {% endfor %}
      </tbody>
    </table>
    <p class="footnote">
        Triage scores are based on suspected COVID-19 cases through NHS 111 services, and are calculated
        from 14-day changes in a 14-day average. Cases and deaths scores are calculated from 7-day changes in a
        7-day average. Hospital patients score is calculated from 7-day changes in a 4-day average.</p>
    <h2>General Situation</h2>
    <p>Where data is likely to be incomplete due to reporting delays, it is shown in a lighter colour.
        Red vertical markers show the date when restrictions were imposed,
        green lines show restrictions being relaxed.</p>
    <div id="confirmed_cases" class="graph"></div>
    <div id="deaths" class="graph"></div>
    <div id="regional_cases" class="graph"></div>
    <div id="regional_deaths" class="graph"></div>
    <h2>NHS 111 Triage Data</h2>
    <p>This data shows the number of instances of people contacting NHS 111 with suspected COVID-19
        symptoms, both online and over the phone. It should act as a leading indicator of any COVID-19 outbreaks.</p>
    <p>Caveats: the criteria used to triage users have changed several times. The phone triage data does not cover
        999 calls in some areas of the country. <a href="https://digital.nhs.uk/data-and-information/publications/statistical/mi-potential-covid-19-symptoms-reported-through-nhs-pathways-and-111-online/latest">More info</a>.</p>
    <div id="triage_online" class="graph"></div>
    <div id="triage_pathways" class="graph"></div>
    <h2>Sources</h2>
    <table class="sources">
      {% for publisher, name, url, date in sources %}
        <tr>
          <td>{{publisher}}</td>
          <td><a href="{{url}}">{{name}}</a></td>
          <td>{{date}}</td>
        </tr>
      {% endfor %}
    </table>
    <p class="footnote">Public Health England data at LTLA level is mapped to NHS England regions using
        <a href="https://github.com/russss/local_authority_nhs_region">this mapping</a>, which is not exact.</p>
  </div>
{% endblock %}
