{% extends "_base.html" %}
{% from '_util.html' import sources_table %}
{% block title %}UK COVID-19 Map{% endblock %}
{% block description %}Map of COVID-19 hotspots in the UK{% endblock %}
{% block head %}
<script src="https://api.mapbox.com/mapbox-gl-js/v1.11.0/mapbox-gl.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/svg.js/3.0.15/svg.min.js"></script>
<script src="map.js"></script>
<link href="https://api.mapbox.com/mapbox-gl-js/v1.11.0/mapbox-gl.css" rel="stylesheet">
{% endblock %}
{% block body %}
<div id="body">
  <h2>Hotspot Map</h2>
  <p>This map shows the per-capita prevalence of COVID-19 across the UK for the last seven days that reliable data
    is available. The data from the different nations are derived from different sources, and are not directly
    comparable. For this reason they are shown in different colours.</p>

  <p>This data <strong>does now include "pillar 2" tests for England</strong>. Weekly rates are taken from a spreadsheet
     published by Public Health England &mdash; history is not available, and the data may be a couple of weeks
     older than that from Wales and Scotland.</p>

  <p>You can click on an area on the map to see the current numbers and a history of the last 45 days of daily cases (where available).</p>

  <div id="map"></div>

  <h2 id="sources">Sources</h2>
  {{sources_table(sources)}}
</div>
<script>
initMap({{data|safe}});
</script>
{% endblock %}
