{% extends "_base.html" %}
{% from '_util.html' import sources_table %}
{% block title %}UK COVID-19 Map{% endblock %}
{% block description %}Map of COVID-19 hotspots in the UK{% endblock %}
{% block head %}
<script src="https://api.mapbox.com/mapbox-gl-js/v1.11.0/mapbox-gl.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/svg.js/3.0.15/svg.min.js"></script>
<script src="map.js"></script>
<link href="https://api.mapbox.com/mapbox-gl-js/v1.11.0/mapbox-gl.css" rel="stylesheet">
{% endblock %}
{% block body %}
<div id="body">
  <div id="map-intro">
    <h2>Hotspot Map</h2>
    <p>This map shows the weekly prevalence, per 100,000 population, of COVID-19 across the UK for the
    last seven days that reliable data is available.</p>

    <p>The "%" button switches the map to show the weekly percentage increase or decrease in cases per capita.</p>

    <p>You can click on an area on the map to see the current numbers and a history of the last 45 days of daily cases.</p>
    <button id="map-intro-close">Close</button>
  </div>

  <div id="map"></div>

  <h2 id="sources">Sources</h2>
  <p>Data is reported by date of sample, which means that some cases may be missing for the most
      recent few days. When calculating the weekly prevalence, the most recent four days of data are ignored unless they would
      cause the prevalence number to increase. This allows spikes in cases to be detected early.</p>
  {{sources_table(sources)}}
</div>
<script>
  initMap({{data|safe}});

  let close_button = document.getElementById('map-intro-close');
  close_button.onclick = (e) => {
    document.getElementById('map-intro').style.display = 'none';
  };
</script>
{% endblock %}
