{% extends "_base.html" %}
{% from '_util.html' import sources_table %}
{% block title %}Testing Capacity - UK COVID Tracker{% endblock %}
{% block description %}Stats on COVID-19 testing capacity in the UK.{% endblock %}

{% block body %}
  <div id="body" class="graphs-body">
    {% include "_width_warning.html" %}
    <p>This page shows more detail on the testing system in the UK.
    Further graphs on testing are <a href="https://coronavirus.data.gov.uk/testing">available on coronavirus.data.gov.uk</a>.</p>

    <p>This heatmap shows the test availability on the NHS website, for home tests and walk-in/drive-in bookings:</p>
    <div id="test_availability" class="graph"></div>
    <h2>Sources</h2>
    {{sources_table(sources)}}
  </div>
{% endblock %}
